
/* LAYOUT -----------------------------------------*/

body {
background-color: #ddd;
}

.four.columns {
font-size: 40px;
text-align: right;
margin: 40px 0 0 0;
}





/* CHAT -------------------------------------------*/
/* ------------------------------------------------*/

/* General ----------------------------------------*/
.t-global__host {

}

.t-global__host * {
box-sizing: border-box;
}

.t-global__host li {
list-style-type: none;
}

ul {
padding-inline-start: 0;
}

/* Scale height of chat window > MediaQueries */
.t-messageList__wrapper::before {
padding-top: 120%;
}

/* Buttons ------------------------------------------*/
.t-global__button {
cursor: pointer;
}

.t-global__button_postback {
width: 100%;
}

/* Button submit icon */
[data-role="chat-submit"] {
font-family: arial, helvetica, Segoe UI Symbol;
color: #000;
}

/* Top --------------------------------------------*/
.t-topBar__wrapper {
/*
display: none;
*/
}

/* Messages ---------------------------------------*/
/* Messages general */
.t-messageList__wrapper {
position: relative;
background-color: #eee;
}

.t-messageList__wrapper::before {
content: '';
display: block;
}

.t-messageList__list {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: 0;
}

.t-messageList__message_user {
text-align: right;
}

/* Messages bubbles general */
.t-messageBody__container {
max-width: 65%;
position: relative;
display: inline-block;
background-color: #fff;
padding: 6px 12px 6px 12px;
margin: 0 20px 5px 20px;
border-radius: 8px;
word-break: break-word;
}

/* Messages bubbles user variant*/
.t-messageBody__container_user {
background-color: #aaa;
color: white;
}

/* Messages image ? */
/*
.t-messageBody__image {
width: 100%;
height: auto;
margin: 2px 0 2px 0;
}
*/

/* Messages bubbles corners */
/*
.t-messageBody__container::after {
content: '';
position: absolute;
top: 0;
width: 0;
border: 1.2em solid transparent;
border-top: 0;
}

.t-messageBody__container_user::after {
right: -.6em;
border-left-color: #000;
border-right: 0;
}

.t-messageBody__container_bot::after {
left: -.6em;
border-right-color: #000;
border-left: 0;
}
*/

/* Messages emoji */
.t-enhancedText__emoji {
height: 15px;
width: 15px;
margin: 0 5px 0 1px;
vertical-align: -1px;
}

/* Bottom ------------------------------------------*/
.t-inputForm__wrapper {
display: flex;
margin: 20px 0 0 0;
}

.t-inputForm__form {
display: flex;
}

.t-inputForm__input {
flex-grow: 1;
padding-left: 20px;
}


/* Media Queries ------------------------------------*/
@media (max-width: 800px) {
.four.columns {
font-size: 20px;
text-align: left;
margin: 20px 0 20px 0;
}

}
