/*
* Taell - Honey Waffle - Web Client
* Copyright 2018, Taell
* www.taell.me
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/* WEB FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


/* CLEARING
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
content: "";
display: table;
clear: both;
}


/* GRID
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
position: relative;
width: 100%;
/* maximum width */
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
box-sizing: border-box;
}

.column,
.columns {
width: 100%;
float: left;
box-sizing: border-box;
}


/* BASE STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
font-size: 62.5%;
}


/* LAYOUT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
font-family: 'Roboto', sans-serif;
font-size: 20px;
line-height: 1.3;
font-weight: 400;
color: #000;
background-color: #f4bb3e;
}



/* TYPO
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
}


/* LINKS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
color: #fff;
}

a:hover {
color: #fff;
}


/* BRANDING
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.branding {
margin: 100px 0 0 0;
display: flex;
flex-direction: column;
align-items: center;
}

.sign {
order: 0;
margin: 0 0 10px 0;
}

.logo {
order: 1;
margin: 0 0 10px 0;
}

.subline_container {
order: 2;
flex-grow: 1;
}

.subline {
text-align: center;
color: #fff;
}

.subline_mobile {
display: none;
}

/* CREDITS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.credits {
margin: 40px 0 0 0;
display: flex;
flex-direction: column;
align-items: center;
font-size: 13px;
color: #fede95;
}

.credits_1 {
order: 0;
}

.credits_2 {
order: 1;
margin: 4px 0 0 0;
}

.credits_mobile {
display: none;
}


/* CHAT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* General ––––––––––––––––––––––––––––––––––––––– */
.t-global__host {

}

.t-global__host * {
box-sizing: border-box;
}

.t-global__host li {
list-style-type: none;
}

ul {
padding-inline-start: 0;
}

/* Scale height of chat window > MediaQueries */
.t-messageList__wrapper::before {
padding-top: 120%;
}


/* Messages ––––––––––––––––––––––––––––––––––––––– */
/* Messages general */
.t-messageList__wrapper {
position: relative;
background-color: #f7cf76;
margin: 0 0 20px 0;
border-radius: 4px;
}

.t-messageList__wrapper::before {
content: '';
display: block;
}

.t-messageList__list {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: 0;

}

.t-messageList__message_user {
text-align: right;
}

/* Messages bubbles general */
.t-messageBody__container {
max-width: 65%;
position: relative;
display: inline-block;
padding: 6px 12px 6px 12px;
margin: 5px 20px 5px 20px;
border-radius: 8px;
word-break: break-word;
background-color: #fff;
color: #003db2;
}

/* Messages bubbles user variant*/
.t-messageBody__container_user {
background-color: #003db2;
color: #fff;
}

/* Messages image ? */
/*
.t-messageBody__image {
width: 100%;
height: auto;
margin: 2px 0 2px 0;
}
*/

/* Messages bubbles corners */
/*
.t-messageBody__container::after {
content: '';
position: absolute;
top: 0;
width: 0;
border: 1.2em solid transparent;
border-top: 0;
}

.t-messageBody__container_user::after {
right: -.6em;
border-left-color: #000;
border-right: 0;
}

.t-messageBody__container_bot::after {
left: -.6em;
border-right-color: #000;
border-left: 0;
}
*/

/* Messages emoji */
.t-enhancedText__emoji {
height: 15px;
width: 15px;
margin: 0 5px 0 1px;
vertical-align: -1px;
}


/* Bottom ––––––––––––––––––––––––––––––––––––––– */
.t-topBar__wrapper {
float: left;
}

/* Bottom form */
.t-inputForm__wrapper {
}

.t-inputForm__form {
display: flex;
}

.t-inputForm__input {
flex-grow: 1;
width: 100%;
padding: 5px 0 5px 15px;
margin: 0 10px 0 10px;
background-color: #003db2;
color: #fff;
}

/* Placeholder text */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #7E91D1;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #7E91D1;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: #7E91D1;
}

input:focus {
outline: none;
}

input {
border: none;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
color: #fff;
}

/* Bottom buttons */
button {
display: inline-block;
text-align: center;
text-decoration: none;
white-space: nowrap;
cursor: pointer;
box-sizing: border-box;
border-radius: 50px;
border: none;
color: #fff;
background-color: #000;
}

button:hover,
button:focus {
outline: 0;
}

/* Button erease */
.t-topBar__button {
padding: 5px 10px 7px 10px;
background-color: #f7cf76;
}
/* Button erease icon */
[data-role="chat-erase"] {
font-family: arial, helvetica, Segoe UI Symbol;
}

/* Button submit */
.t-global__button {
cursor: pointer;
padding: 6px 30px 4px 30px;
background-color: #003db2;
}
/* Button submit icon */
[data-role="chat-submit"] {
font-family: arial, helvetica, Segoe UI Symbol;
}


/* SCROLLBAR ––––––––––––––––––––––––––––––––––––––– */
::-webkit-scrollbar-track {
	background-color: #f7cf76;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #fff;
}



/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* DESKTOP - For devices larger than 800px */
@media (min-width: 800px) {
.container {
width: 80%;
}

.column,
.columns {
margin-left: 4%;
}

.column:first-child,
.columns:first-child {
margin-left: 0;
}

.four.columns {
width: 30.6666666667%;
}

.eight.columns {
width: 65.3333333333%;
}

/* Offsets */
.offset-by-four.column,
.offset-by-four.columns {
margin-left: 34.6666666667%;
}

.offset-by-eight.column,
.offset-by-eight.columns {
margin-left: 69.3333333333%;
}

}



/* TABLET - For devices smaller than 800px */
@media (max-width: 800px) {

/* BRANDING
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.branding {
margin: -34px 0 -8px 0;
display: flex;
flex-direction: row;
}

.sign {
width: 45px;
height: 45px;
}

.logo {
margin: 0 0 0 10px;
width: 150px;
height: 35px;
float: right;
}

.subline_container {
display: none;
}

.subline_mobile {
display: block;
margin: 0 0 6px 4px;
color: #fff;
}

/* CREDITS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.credits {
display: none;
}

.credits_mobile {
margin: 6px 0 0 0;
flex-direction: column;
justify-content: flex-end;
font-size: 13px;
line-height: 1.6;
color: #fede95;
display: block;
}

.credits_3 {
text-align: right;
flex-grow: 1;
}

}





/* MOBILE - For devices smaller than 415px */
@media (max-width: 480px) {
.container {
width: 100%;
padding: 0;
}

.container_mobile {
margin: 0 8px 0 8px;
}

body {
font-size: 14px;
}

.branding {

}

.sign {
margin: 0;
width: 35px;
height: 35px;
}

.logo {
margin: 6px 0 0 6px;
width: 120px;
}

.subline_mobile {
margin: 8px 0 6px 4px;
}

.credits_mobile {
font-size: 10px;
}

.t-topBar__wrapper {
margin: 0 0 0 8px;
}

.t-inputForm__wrapper{
margin: 0 8px 0 0;
}

}
