/*
* Taell - Honey Waffle - Web Client
* Copyright 2018, Taell
* www.taell.me
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/* WEB FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


/* CLEARING
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
content: "";
display: table;
clear: both;
}


/* GRID
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
position: relative;
width: 100%;
/* maximum width */
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
box-sizing: border-box;
}

.column,
.columns {
width: 100%;
float: left;
box-sizing: border-box;
}


/* BASE STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
font-size: 62.5%;
}


/* LAYOUT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
font-family: 'Roboto', sans-serif;
font-size: 20px;
line-height: 1.3;
font-weight: 400;
color: #000;
background-color: #f4bb3e;

}



/* TYPO
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
}


/* LINKS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a,
a:focus,
a:hover {
text-decoration: none;
font-weight: 600;
color: #fff;
}

.credits a,
.credits a:hover,
.credits a:focus {
color: #fede95;
font-weight: 400;
text-decoration: none;
}

.credits_mobile a,
.credits_mobile a:hover,
.credits_mobile a:focus {
color: #fede95;
font-weight: 400;
text-decoration: none;
}


/* BUTTONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button {
display: inline-block;
text-align: center;
text-decoration: none;
white-space: nowrap;
cursor: pointer;
box-sizing: border-box;
border-radius: 50px;
border: none;
color: #fff;
background-color: #000;
}

button:hover,
button:focus {
outline: 0;
}


/* BRANDING
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.branding {
margin: 100px 0 0 0;
display: flex;
flex-direction: column;
align-items: center;
}

.sign {
order: 0;
margin: 0 0 10px 0;
}

.logo {
order: 1;
margin: 0 0 10px 0;
}

.subline_container {
order: 2;
flex-grow: 1;
}

.subline {
text-align: center;
color: #fff;
}

.subline_mobile {
display: none;
}

/* CREDITS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.credits {
margin: 40px 0 0 0;
display: flex;
flex-direction: column;
align-items: center;
font-size: 13px;
color: #fede95;
}

.credits_1 {
order: 0;
}

.credits_2 {
order: 1;
margin: 4px 0 0 0;
}

.credits_mobile {
display: none;
}


/* CHAT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* General ––––––––––––––––––––––––––––––––––––––– */
.t-global__host {
}

.t-global__host * {
box-sizing: border-box;
}

.t-global__host li {
list-style-type: none;
}

ul {
padding-inline-start: 0;
}


/* Messages ––––––––––––––––––––––––––––––––––––––– */
/* Messages general */
.t-messageList__wrapper {
position: relative;
background-color: #f7cf76;
margin: 0 0 20px 0;
}

.t-messageList__wrapper::before {
content: '';
display: block;
}

.t-messageList__list {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: 0;
}

.t-messageList__list:first-child {
padding-top: 15px;
}

.t-messageList__list:last-child {
padding-bottom: 15px;
}

.t-messageList__message_user {
text-align: right;
}

/* Messages bubbles general */
.t-messageBody__container {
max-width: 65%;
position: relative;
display: inline-block;
padding: 6px 12px 6px 12px;
margin: 5px 20px 5px 20px;
border-radius: 8px;
word-break: break-word;
background-color: #fff;
color: #003db2;
}

/* Messages bubbles user variant*/
.t-messageBody__container_user {
background-color: #003db2;
color: #fff;
}

/* Messages image ? */
/*
.t-messageBody__image {
width: 100%;
height: auto;
margin: 2px 0 2px 0;
}
*/

/* Messages bubbles corners */
/*
.t-messageBody__container::after {
content: '';
position: absolute;
top: 0;
width: 0;
border: 1.2em solid transparent;
border-top: 0;
}

.t-messageBody__container_user::after {
right: -.6em;
border-left-color: #000;
border-right: 0;
}

.t-messageBody__container_bot::after {
left: -.6em;
border-right-color: #000;
border-left: 0;
}
*/

/* In chat buttons */
.t-global__button.t-global__button_postback {
padding: 5px 10px 7px 10px;
border-radius: 8px;
}



/* Messages emoji */
.t-enhancedText__emoji {
height: 15px;
width: 15px;
margin: 0 5px 0 1px;
vertical-align: -1px;
}


/* Bottom ––––––––––––––––––––––––––––––––––––––– */
.t-topBar__wrapper {
float: left;
}

/* Bottom form */
.t-inputForm__wrapper {
}

.t-inputForm__form {
display: flex;
}

.t-inputForm__input {
flex-grow: 1;
width: 100%;
padding: 5px 0 5px 15px;
margin: 0 10px 0 10px;
background-color: #003db2;
color: #fff;
}

/* Placeholder text */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #7E91D1;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #7E91D1;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: #7E91D1;
}

input:focus {
outline: none;
}

input {
border: none;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
color: #fff;
}

/* Button erease */
.t-topBar__button {
padding: 5px 10px 7px 10px;
background-color: #f7cf76;
}
/* Button erease icon */
[data-role="chat-erase"] {
font-family: arial, helvetica, Segoe UI Symbol;
}

/* Button submit */
.t-global__button {
cursor: pointer;
padding: 6px 30px 4px 30px;
background-color: #003db2;
}
/* Button submit icon */
[data-role="chat-submit"] {
font-family: arial, helvetica, Segoe UI Symbol;
}


/* SCROLLBAR ––––––––––––––––––––––––––––––––––––––– */
::-webkit-scrollbar-track {
	background-color: #f7cf76;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #fff;
}



/* MEDIA QUERIES - General
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* DESKTOP - For devices larger than 800px */
@media (min-width: 800px) {
.container {
width: 80%;
}

.column,
.columns {
margin-left: 4%;
}

.column:first-child,
.columns:first-child {
margin-left: 0;
}

.four.columns {
width: 30.6666666667%;
}

.eight.columns {
width: 65.3333333333%;
}

/* Offsets */
.offset-by-four.column,
.offset-by-four.columns {
margin-left: 34.6666666667%;
}

.offset-by-eight.column,
.offset-by-eight.columns {
margin-left: 69.3333333333%;
}

}


/* TABLET - For devices smaller than 800px */
@media (max-width: 799px) {

.branding {
margin: -34px 0 -8px 0;
display: flex;
flex-direction: row;
}

.sign {
width: 45px;
height: 45px;
}

.logo {
margin: 0 0 0 10px;
width: 150px;
height: 35px;
float: right;
}

.subline_container {
display: none;
}

.subline_mobile {
display: block;
margin: 0 0 6px 4px;
color: #fff;
}

/* CREDITS */
.credits {
display: none;
}

.credits_mobile {
margin: 6px 0 0 0;
flex-direction: column;
justify-content: flex-end;
font-size: 13px;
line-height: 1.6;
color: #fede95;
display: block;
}

.credits_3 {
text-align: right;
flex-grow: 1;
}

::-webkit-scrollbar {
	width: 6px;
}

}


/* MOBILE - For devices smaller than 480px */
@media (max-width: 480px) {
.container {
width: 100%;
padding: 0;
}

.container_mobile {
margin: 0 8px 0 8px;
}

body {
font-size: 14px;
}

.sign {
margin: 0;
width: 35px;
height: 35px;
}

.logo {
margin: 6px 0 0 6px;
width: 120px;
}

.subline_mobile {
margin: 8px 0 6px 4px;
}

.credits_mobile {
font-size: 10px;
}

.t-messageList__wrapper {
margin: 0 0 10px 0;
}

.t-topBar__wrapper {
margin: 0 0 0 8px;
}

.t-inputForm__wrapper{
margin: 0 8px 0 0;
}

.t-global__button {
padding: 6px 10px 4px 10px;
}

}



/* MEDIA QUERIES - Chat
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Desktop - #### x 600 and below */
@media only screen
and (min-width: 800px)
and (max-height: 599px){
.t-messageList__wrapper::before {
padding-top: 400px;
}
}
/* Desktop - #### x 600 */
@media only screen
and (min-width: 800px)
and (min-height: 600px) {
.t-messageList__wrapper::before {
padding-top: 500px;
}
}
/* Desktop - #### x 768 */
@media only screen
and (min-width: 800px)
and (min-height: 768px) {
.t-messageList__wrapper::before {
padding-top: 668px;
}
}
/* Desktop - #### x 800 */
@media only screen
and (min-height: 800px) {
.t-messageList__wrapper::before {
padding-top: 700px;
}
}
/* Desktop - #### x 900 */
@media only screen
and (min-width: 800px)
and (min-height: 900px) {
.t-messageList__wrapper::before {
padding-top: 800px;
}
}
/* Desktop - #### x 1024 -------------- */
@media only screen
and (min-width: 800px)
and (min-height: 1024px) {
.t-messageList__wrapper::before {
padding-top: 924px;
}
}
/* Desktop - #### x 1080 */
@media screen
and (min-width: 800px)
and (min-height: 1080px) {
.t-messageList__wrapper::before {
padding-top: 980px;
}
}
/* Desktop - #### x 1200 */
@media screen
and (min-width: 800px)
and (min-height: 1200px) {
.t-messageList__wrapper::before {
padding-top: 1100px;
}
}
/* ––––––––––––––––––––––––––––––––––––––––––––––– */
/* Tablet - 800 x 1280 ----------- */
@media only screen
and (max-width: 800px)
and (max-height: 1280px) {
.t-messageList__wrapper::before {
padding-top: 1080px;
}
}
/* Tablet - 768 x 1024 ----------- */
@media only screen
and (max-width: 768px)
and (max-height: 1024px) {
.t-messageList__wrapper::before {
padding-top: 824px;
}
}
/* Tablet - 720 x 1280 ----------- */
@media only screen
and (max-width: 720px)
and (max-height: 1280px) {
.t-messageList__wrapper::before {
padding-top: 1080px;
}
}
/* Tablet - 600 x 1024 ----------- */
@media only screen
and (max-width: 600px)
and (max-height: 1024px) {
.t-messageList__wrapper::before {
padding-top: 824px;
}
}
/* Tablet - 600 x 960 ----------- */
@media only screen
and (max-width: 600px)
and (max-height: 960px) {
.t-messageList__wrapper::before {
padding-top: 760px;
}
}
/* ––––––––––––––––––––––––––––––––––––––––––––––– */
/* Mobile - 480 x 800 - ????????? */
@media only screen
and (max-width: 480px)
and (max-height: 800px) {
.t-messageList__wrapper::before {
padding-top: 600px;
}
}
/* Mobile - 414 x 736 - iPhone 6+, 7+ and 8+ */
@media only screen
and (max-width: 414px)
and (max-height: 736px) {
.t-messageList__wrapper::before {
padding-top: 536px;
}
}
/* Mobile - 411 x 823 - Pixel2 XL */
@media only screen
and (max-width: 411px)
and (max-height: 823px) {
.t-messageList__wrapper::before {
padding-top: 623px;
}
}
/* Mobile - 400 x 640 - Galaxy Note */
@media only screen
and (max-width: 400px)
and (max-height: 640px) {
.t-messageList__wrapper::before {
padding-top: 440px;
}
}
/* Mobile - 375 x 812 - iPhone X */
@media only screen
and (max-width: 375px)
and (max-height: 812px) {
.t-messageList__wrapper::before {
padding-top: 612px;
}
}
/* Mobile - 375 x 667 - iPhone 6, 6S, 7 and 8 */
@media only screen
and (max-width: 375px)
and (max-height: 667px) {
.t-messageList__wrapper::before {
padding-top: 467px;
}
}
/* Mobile - 360 x 640 - Galaxy S3, S4 mini, S4, S5, S6, S7, Note 2,3,4 */
@media only screen
and (max-width: 360px)
and (max-height: 640px) {
.t-messageList__wrapper::before {
padding-top: 440px;
}
}
/* Mobile - 320 x 568 - iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen
and (max-width: 320px)
and (max-height: 568px) {
.t-messageList__wrapper::before {
padding-top: 368px;
}
}
/* Mobile - 320 x 533 - Galaxy S, S2, S3 mini ----------- */
@media only screen
and (max-width: 320px)
and (max-height: 533px) {
.t-messageList__wrapper::before {
padding-top: 333px;
}
}
/* Mobile - 320 x 480 - iPhone 4 and 4S ----------- */
@media only screen
and (max-width: 320px)
and (max-height: 480px) {
.t-messageList__wrapper::before {
padding-top: 280px;
}
}
