<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Honey Waffle</title>
<meta name="description" content=">Honey Waffle web client">
<meta name="author" content=">Taell">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/06/normalize.css">
<link rel="stylesheet" href="static/06/style.css">
<script src="https://dfs8nliextohv.cloudfront.net/taell-chat.js"></script>
<!--
<link rel="icon" type="image/png" href="images/favicon.png">
-->
</head>

<body>

<div class="container">
<div class="row">

<!-- Content -->
<div class="four columns">
<div class="container_mobile">

<div class="credits_mobile">
<div class="credits_3"><a href="###">Imprint</a> &nbsp;&nbsp; <a href="###">Privacy</a></br>© 2018 Taell</div>
</div>

<div class="branding">
<img src="static/06/sign.png" alt="sign" width="90" height="90" class="sign">
<img src="static/06/logo.svg" alt="logo" width="200" height="46" class="logo">
<div class="subline_container">
<div class="subline">This bot is also available on <a href="###">Telegram</a> and <a href="###">Line.</a></div>
</div>
</div>
<div class="subline_mobile">Also available on <a href="###">Telegram</a> and <a href="###">Line.</a></div>

<div class="credits">
<div class="credits_1"><a href="###">About</a> &nbsp;&nbsp; <a href="###">Imprint</a> &nbsp;&nbsp; <a href="###">Privacy</a></div>
<div class="credits_2">© 2018 Taell</div>
</div>

</div>
</div>

<div class="eight columns">
<div class="taell-chat" data-access-key="af29042d-xzfd-4996-b4d9-9a42c28c1b0g" data-bot="honey-waffle" data-no-styles="true" data-welcome="Hi there. Type a message to get started!"></div>
</div>

<!-- / Content -->
</div>
</div>

</body>

</html>
