<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>06</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
––––––––––––––––––––––––––––––––––––––––––––––––––
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
-->

<!-- CSS & JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="static/06/normalize.css">
<link rel="stylesheet" href="static/06/style.css">
<script src="https://dfs8nliextohv.cloudfront.net/taell-chat.js"></script>




<!-- Favicon
––––––––––––––––––––––––––––––––––––––––––––––––––
<link rel="icon" type="image/png" href="images/favicon.png">
-->

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
<div class="row">


<div class="four columns">
<div class="container_mobile">

<div class="credits_mobile">
<div class="credits_3"><a href="###">Imprint</a> &nbsp;&nbsp; <a href="###">Privacy</a></br>© 2018 Taell</div>
</div>

<div class="branding">
<img src="static/06/sign.png" alt="sign" width="90" height="90" class="sign">
<img src="static/06/logo.svg" alt="logo" width="200" height="46" class="logo">
<div class="subline_container">
<div class="subline">This bot is also available on <a href="###">Telegram</a> and <a href="###">Line.</a></div>
</div>
</div>
<div class="subline_mobile">Also available on <a href="###">Telegram</a> and <a href="###">Line.</a></div>

<div class="credits">
<div class="credits_1"><a href="###">About</a> &nbsp;&nbsp; <a href="###">Imprint</a> &nbsp;&nbsp; <a href="###">Privacy</a></div>
<div class="credits_2">© 2018 Taell</div>
</div>

</div>
</div>

<div class="eight columns">
<div class="taell-chat" data-access-key="af29042d-xzfd-4996-b4d9-9a42c28c1b0g" data-bot="honey-waffle" data-no-styles="true" data-welcome="Hi there. Type a message to get started!"></div>
</div>


</div>
</div>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
