<!DOCTYPE html>
<html lang="en">


<!--Header-->
<head>
<meta charset="utf-8">
<title>Honey Waffle</title>
<meta name="description" content=">Honey Waffle">
<meta name="author" content=">Honey Waffle">

<link rel="stylesheet" href="static/00/normalize.css">
<link rel="stylesheet" href="static/00/style.css">

<script src="https://dfs8nliextohv.cloudfront.net/taell-chat.js"></script>

<meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>

<div class="cont">
<div class="row">


<div class="taell-chat" data-access-key="af29022d-xzfd-4996-b4d9-9a42c28c1b0g" data-bot="honey-waffle" data-no-styles="true" data-welcome="Hi there. Type a message to get started!"></div>

</div>
</div>

</body>
</html>
